name: Advanced Video - iOS 
on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master ]

jobs:
  build_screen_share_objc:
    name: Build Screen-Share Objective-C
    runs-on: macos-latest
    env:
      XC_PROJECT_NAME: ${{ 'NERtcSample-ScreenShare-iOS-Objective-C' }}
      XC_VERSION: ${{ '11.4' }}
      XC_SCHEME: ${{ 'NERtcSample-ScreenShare-iOS-Objective-C' }}
      XC_WORKSPACE: ${{ 'NERtcSample-ScreenShare-iOS-Objective-C.xcworkspace' }}
      XC_CONFIGURATION: ${{ 'release' }}
      XC_ARCHIVE_DIR: ${{ './product/archive' }}
      XC_IPA_DIR: ${{ './product/ipa' }}
      XC_EXPORT_OPTIONS_PATH: ${{ './Workflow/ExportOptions.plist' }}
      XC_KEY_STUB_SCRIPT_PATH: ${{ './Workflow/key_stub.py' }}
      XC_PROJECT_STUB_SCRIPT_PATH: ${{ './Workflow/project_stub.py' }}
      XC_IPA_NAME: ${{ 'ScreenShare-iOS-Objective-C.ipa' }}

      ENCRYPTED_CERT_PATH: ${{ '../../Shared Files/iOS/cert.p12.gpg' }}
      DECRYPTED_CERT_PATH: ${{ './Workflow/cert.p12' }}
      APP_ENCRYPTED_PROVISION_PATH: ${{ './Workflow/screen_share_objc.mobileprovision.gpg' }}
      APP_DECRYPTED_PROVISION_PATH: ${{ './Workflow/screen_share_objc.mobileprovision' }}
      EXT_ENCRYPTED_PROVISION_PATH: ${{ './Workflow/screen_share_broadcast_objc.mobileprovision.gpg' }}
      EXT_DECRYPTED_PROVISION_PATH: ${{ './Workflow/screen_share_broadcast_objc.mobileprovision' }}
      CERT_ENC_PWD: ${{ secrets.CERT_ENC_PWD }}
      PROVISION_ENC_PWD: ${{ secrets.PROVISION_ENC_PWD }}
      APP_KEY: ${{ secrets.APP_KEY }}
      KEYCHAIN: ${{ 'temp.keychain' }}
      APP_KEY_HEADER_PATH: ${{ './NERtcSample-ScreenShare-iOS-Objective-C/AppKey.h' }}
    defaults:
      run:
        shell: bash
        working-directory: ./ScreenShare/ScreenShare-iOS-Objective-C

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 2.7
      uses: actions/setup-python@v2
      with:
          python-version: '2.7'

    - name: Select Xcode
      run: 
        sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app

    - name: Install Dependencies
      run: pod install

    - name: Configure Keychain
      run: 
        security create-keychain -p "" "$KEYCHAIN";
        security list-keychains -s "$KEYCHAIN";
        security default-keychain -s "$KEYCHAIN";
        security unlock-keychain -p "" "$KEYCHAIN";
        security set-keychain-settings;
        security list-keychains;
    
    - name: Configure Code Signing
      run:
        gpg -d -o "$DECRYPTED_CERT_PATH" --pinentry-mode=loopback --passphrase "$CERT_ENC_PWD" "$ENCRYPTED_CERT_PATH";
        gpg -d -o "$APP_DECRYPTED_PROVISION_PATH" --pinentry-mode=loopback --passphrase "$PROVISION_ENC_PWD" "$APP_ENCRYPTED_PROVISION_PATH";
        gpg -d -o "$EXT_DECRYPTED_PROVISION_PATH" --pinentry-mode=loopback --passphrase "$PROVISION_ENC_PWD" "$EXT_ENCRYPTED_PROVISION_PATH";
        security import "$DECRYPTED_CERT_PATH" -k "$KEYCHAIN" -P "" -A;
        security set-key-partition-list -S apple-tool:,apple:, -s -k "" "$KEYCHAIN";
        mkdir -p "$HOME/Library/MobileDevice/Provisioning Profiles";
        UUID=$(/usr/libexec/PlistBuddy -c "Print :UUID" /dev/stdin <<< $(security cms -D -i $APP_DECRYPTED_PROVISION_PATH));
        cp "$APP_DECRYPTED_PROVISION_PATH" "$HOME/Library/MobileDevice/Provisioning Profiles/$UUID.mobileprovision";
        UUID=$(/usr/libexec/PlistBuddy -c "Print :UUID" /dev/stdin <<< $(security cms -D -i $EXT_DECRYPTED_PROVISION_PATH));
        cp "$EXT_DECRYPTED_PROVISION_PATH" "$HOME/Library/MobileDevice/Provisioning Profiles/$UUID.mobileprovision";

    - name: App Key Stub
      run: 
        python $XC_KEY_STUB_SCRIPT_PATH
    
    - name: Project Stub
      run:
        APP_PROVISION=$(/usr/libexec/PlistBuddy -c "Print :UUID" /dev/stdin <<< $(security cms -D -i $APP_DECRYPTED_PROVISION_PATH));
        EXT_PROVISION=$(/usr/libexec/PlistBuddy -c "Print :UUID" /dev/stdin <<< $(security cms -D -i $EXT_DECRYPTED_PROVISION_PATH));
        python $XC_PROJECT_STUB_SCRIPT_PATH $APP_PROVISION $EXT_PROVISION;

    - name: Archive
      run:
        mkdir -p $XC_ARCHIVE_DIR;
        xcodebuild archive -workspace $XC_WORKSPACE -scheme $XC_SCHEME -configuration $XC_CONFIGURATION -archivePath $XC_ARCHIVE_DIR/$XC_PROJECT_NAME.xcarchive;

    - name: Export IPA
      run: 
        mkdir -p $XC_IPA_DIR;
        xcodebuild -exportArchive -archivePath $XC_ARCHIVE_DIR/$XC_PROJECT_NAME.xcarchive -exportPath $XC_IPA_DIR -exportOptionsPlist $XC_EXPORT_OPTIONS_PATH;
        mv $XC_IPA_DIR/$XC_SCHEME.ipa $XC_IPA_DIR/$XC_IPA_NAME;

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: ScreenShare-iOS-Objective-C
        path: ./ScreenShare/ScreenShare-iOS-Objective-C/product/ipa/ScreenShare-iOS-Objective-C.ipa

  build_video_stream_objc:
    name: Build VideoStream ObjC
    runs-on: macos-latest
    env:
      XC_PROJECT_NAME: ${{ 'VideoStream-iOS-ObjC' }}
      XC_VERSION: ${{ '11.4' }}
      XC_SCHEME: ${{ 'VideoStream-iOS-ObjC' }}
      XC_WORKSPACE: ${{ 'VideoStream-iOS-ObjC.xcworkspace' }}
      XC_CONFIGURATION: ${{ 'release' }}
      XC_ARCHIVE_DIR: ${{ './product/archive' }}
      XC_IPA_DIR: ${{ './product/ipa' }}
      XC_EXPORT_OPTIONS_PATH: ${{ './Workflow/ExportOptions.plist' }}
      XC_CONFIG_STUB_SCRIPT_PATH: ${{ './Workflow/config_stub.py' }}

      ENCRYPTED_CERT_PATH: ${{ '../../Shared Files/iOS/cert.p12.gpg' }}
      DECRYPTED_CERT_PATH: ${{ './Workflow/cert.p12' }}
      ENCRYPTED_PROVISION_PATH: ${{ '../../Shared Files/iOS/enterpriseForWildCard.mobileprovision.gpg' }}
      DECRYPTED_PROVISION_PATH: ${{ './Workflow/enterpriseForWildCard.mobileprovision' }}
      CERT_ENC_PWD: ${{ secrets.CERT_ENC_PWD }}
      PROVISION_ENC_PWD: ${{ secrets.PROVISION_ENC_PWD }}
      APP_KEY: ${{ secrets.APP_KEY }}
      STREAM_URL: ${{ secrets.iOS_STREAM_URL }}
      KEYCHAIN: ${{ 'temp.keychain' }}
      APP_CONFIG_HEADER_PATH: ${{ './VideoStream-iOS-ObjC/NTESConfig.h' }}
    defaults:
      run:
        shell: bash
        working-directory: ./VideoStream/VideoStream-iOS-ObjC/

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 2.7
      uses: actions/setup-python@v2
      with:
          python-version: '2.7'
          
    - name: App Key Stub
      run: 
        python $XC_CONFIG_STUB_SCRIPT_PATH $APP_CONFIG_HEADER_PATH $APP_KEY $STREAM_URL
    
    - name: Select Xcode
      run: 
        sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app

    - name: Install Dependencies
      run: pod install

    - name: Configure Keychain
      run: 
        security create-keychain -p "" "$KEYCHAIN";
        security list-keychains -s "$KEYCHAIN";
        security default-keychain -s "$KEYCHAIN";
        security unlock-keychain -p "" "$KEYCHAIN";
        security set-keychain-settings;
        security list-keychains;
    
    - name: Configure Code Signing
      run:
        gpg -d -o "$DECRYPTED_CERT_PATH" --pinentry-mode=loopback --passphrase "$CERT_ENC_PWD" "$ENCRYPTED_CERT_PATH";
        gpg -d -o "$DECRYPTED_PROVISION_PATH" --pinentry-mode=loopback --passphrase "$PROVISION_ENC_PWD" "$ENCRYPTED_PROVISION_PATH";
        security import "$DECRYPTED_CERT_PATH" -k "$KEYCHAIN" -P "" -A;
        security set-key-partition-list -S apple-tool:,apple:, -s -k "" "$KEYCHAIN";
        mkdir -p "$HOME/Library/MobileDevice/Provisioning Profiles";
        UUID=$(/usr/libexec/PlistBuddy -c "Print :UUID" /dev/stdin <<< $(security cms -D -i $DECRYPTED_PROVISION_PATH));
        cp "$DECRYPTED_PROVISION_PATH" "$HOME/Library/MobileDevice/Provisioning Profiles/$UUID.mobileprovision";

    - name: Archive
      run:
        mkdir -p $XC_ARCHIVE_DIR;
        UUID=$(/usr/libexec/PlistBuddy -c "Print :UUID" /dev/stdin <<< $(security cms -D -i $DECRYPTED_PROVISION_PATH));
        xcodebuild archive -workspace $XC_WORKSPACE -scheme $XC_SCHEME -configuration release -archivePath $XC_ARCHIVE_DIR/$XC_PROJECT_NAME.xcarchive CODE_SIGN_IDENTITY="iPhone Distribution" PROVISIONING_PROFILE_SPECIFIER=$UUID;

    - name: Export IPA
      run: 
        mkdir -p $XC_IPA_DIR;
        xcodebuild -exportArchive -archivePath $XC_ARCHIVE_DIR/$XC_PROJECT_NAME.xcarchive -exportPath $XC_IPA_DIR -exportOptionsPlist $XC_EXPORT_OPTIONS_PATH;

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: VideoStream-iOS-ObjC
        path: ./VideoStream/VideoStream-iOS-ObjC/product/ipa/VideoStream-iOS-ObjC.ipa


  build_audio_stream_objc:
    name: Build AudioStream ObjC
    runs-on: macos-latest
    env:
      XC_PROJECT_NAME: ${{ 'AudioStream-iOS-ObjC' }}
      XC_VERSION: ${{ '11.4' }}
      XC_SCHEME: ${{ 'AudioStream-iOS-ObjC' }}
      XC_WORKSPACE: ${{ 'AudioStream-iOS-ObjC.xcworkspace' }}
      XC_CONFIGURATION: ${{ 'release' }}
      XC_ARCHIVE_DIR: ${{ './product/archive' }}
      XC_IPA_DIR: ${{ './product/ipa' }}
      XC_EXPORT_OPTIONS_PATH: ${{ './Workflow/ExportOptions.plist' }}
      XC_CONFIG_STUB_SCRIPT_PATH: ${{ './Workflow/config_stub.py' }}

      ENCRYPTED_CERT_PATH: ${{ '../../Shared Files/iOS/cert.p12.gpg' }}
      DECRYPTED_CERT_PATH: ${{ './Workflow/cert.p12' }}
      ENCRYPTED_PROVISION_PATH: ${{ '../../Shared Files/iOS/enterpriseForWildCard.mobileprovision.gpg' }}
      DECRYPTED_PROVISION_PATH: ${{ './Workflow/enterpriseForWildCard.mobileprovision' }}
      CERT_ENC_PWD: ${{ secrets.CERT_ENC_PWD }}
      PROVISION_ENC_PWD: ${{ secrets.PROVISION_ENC_PWD }}
      APP_KEY: ${{ secrets.APP_KEY }}
      STREAM_URL: ${{ secrets.iOS_STREAM_URL }}
      KEYCHAIN: ${{ 'temp.keychain' }}
      APP_CONFIG_HEADER_PATH: ${{ './AudioStream-iOS-ObjC/AppConfig.h' }}
    defaults:
      run:
        shell: bash
        working-directory: ./AudioStream/AudioStream-iOS-ObjC/

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 2.7
      uses: actions/setup-python@v2
      with:
          python-version: '2.7'
          
    - name: App Config Stub
      run: 
        python $XC_CONFIG_STUB_SCRIPT_PATH $APP_CONFIG_HEADER_PATH $APP_KEY $STREAM_URL
    
    - name: Select Xcode
      run: 
        sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app

    - name: Install Dependencies
      run: pod install

    - name: Configure Keychain
      run: 
        security create-keychain -p "" "$KEYCHAIN";
        security list-keychains -s "$KEYCHAIN";
        security default-keychain -s "$KEYCHAIN";
        security unlock-keychain -p "" "$KEYCHAIN";
        security set-keychain-settings;
        security list-keychains;
    
    - name: Configure Code Signing
      run:
        gpg -d -o "$DECRYPTED_CERT_PATH" --pinentry-mode=loopback --passphrase "$CERT_ENC_PWD" "$ENCRYPTED_CERT_PATH";
        gpg -d -o "$DECRYPTED_PROVISION_PATH" --pinentry-mode=loopback --passphrase "$PROVISION_ENC_PWD" "$ENCRYPTED_PROVISION_PATH";
        security import "$DECRYPTED_CERT_PATH" -k "$KEYCHAIN" -P "" -A;
        security set-key-partition-list -S apple-tool:,apple:, -s -k "" "$KEYCHAIN";
        mkdir -p "$HOME/Library/MobileDevice/Provisioning Profiles";
        UUID=$(/usr/libexec/PlistBuddy -c "Print :UUID" /dev/stdin <<< $(security cms -D -i $DECRYPTED_PROVISION_PATH));
        cp "$DECRYPTED_PROVISION_PATH" "$HOME/Library/MobileDevice/Provisioning Profiles/$UUID.mobileprovision";

    - name: Archive
      run:
        mkdir -p $XC_ARCHIVE_DIR;
        UUID=$(/usr/libexec/PlistBuddy -c "Print :UUID" /dev/stdin <<< $(security cms -D -i $DECRYPTED_PROVISION_PATH));
        xcodebuild archive -workspace $XC_WORKSPACE -scheme $XC_SCHEME -configuration release -archivePath $XC_ARCHIVE_DIR/$XC_PROJECT_NAME.xcarchive CODE_SIGN_IDENTITY="iPhone Distribution" PROVISIONING_PROFILE_SPECIFIER=$UUID;

    - name: Export IPA
      run: 
        mkdir -p $XC_IPA_DIR;
        xcodebuild -exportArchive -archivePath $XC_ARCHIVE_DIR/$XC_PROJECT_NAME.xcarchive -exportPath $XC_IPA_DIR -exportOptionsPlist $XC_EXPORT_OPTIONS_PATH;

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: AudioStream-iOS-ObjC
        path: ./AudioStream/AudioStream-iOS-ObjC/product/ipa/AudioStream-iOS-ObjC.ipa

  build_beauty_objc:
    name: Build Beauty ObjC
    runs-on: macos-latest
    env:
      XC_PROJECT_NAME: ${{ 'Beauty-iOS-ObjC' }}
      XC_VERSION: ${{ '11.4' }}
      XC_SCHEME: ${{ 'Beauty-iOS-ObjC' }}
      XC_WORKSPACE: ${{ 'Beauty-iOS-ObjC.xcworkspace' }}
      XC_CONFIGURATION: ${{ 'release' }}
      XC_ARCHIVE_DIR: ${{ './product/archive' }}
      XC_IPA_DIR: ${{ './product/ipa' }}
      XC_EXPORT_OPTIONS_PATH: ${{ './Workflow/ExportOptions.plist' }}
      XC_CONFIG_STUB_SCRIPT_PATH: ${{ './Workflow/config_stub.py' }}

      ENCRYPTED_CERT_PATH: ${{ '../../Shared Files/iOS/cert.p12.gpg' }}
      DECRYPTED_CERT_PATH: ${{ './Workflow/cert.p12' }}
      ENCRYPTED_PROVISION_PATH: ${{ '../../Shared Files/iOS/enterpriseForWildCard.mobileprovision.gpg' }}
      DECRYPTED_PROVISION_PATH: ${{ './Workflow/enterpriseForWildCard.mobileprovision' }}
      ENCRY_FACEU_AUTH_PATH: ${{ ./Workflow/authpack.h.gpg }}
      DECRY_FACEU_AUTH_PATH: ${{ ./Beauty-iOS-ObjC/Beauty/authpack.h }}
      FACEU_APP_KEY: ${{ secrets.FACEU_APP_KEY }}
      CERT_ENC_PWD: ${{ secrets.CERT_ENC_PWD }}
      PROVISION_ENC_PWD: ${{ secrets.PROVISION_ENC_PWD }}
      APP_KEY: ${{ secrets.APP_KEY }}
      STREAM_URL: ${{ secrets.iOS_STREAM_URL }}
      KEYCHAIN: ${{ 'temp.keychain' }}
      APP_CONFIG_HEADER_PATH: ${{ './Beauty-iOS-ObjC/AppKey.h' }}
    defaults:
      run:
        shell: bash
        working-directory: ./Beauty/Beauty-iOS-ObjC/

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 2.7
      uses: actions/setup-python@v2
      with:
          python-version: '2.7'
          
    - name: App Config Stub
      run: 
        python $XC_CONFIG_STUB_SCRIPT_PATH $APP_CONFIG_HEADER_PATH $APP_KEY $STREAM_URL
    
    - name: Select Xcode
      run: 
        sudo xcode-select -s /Applications/Xcode_$XC_VERSION.app

    - name: Install Dependencies
      run: pod install

    - name: Configure Keychain
      run: 
        security create-keychain -p "" "$KEYCHAIN";
        security list-keychains -s "$KEYCHAIN";
        security default-keychain -s "$KEYCHAIN";
        security unlock-keychain -p "" "$KEYCHAIN";
        security set-keychain-settings;
        security list-keychains;
    
    - name: Configure Code Signing
      run:
        gpg -d -o "$DECRYPTED_CERT_PATH" --pinentry-mode=loopback --passphrase "$CERT_ENC_PWD" "$ENCRYPTED_CERT_PATH";
        gpg -d -o "$DECRYPTED_PROVISION_PATH" --pinentry-mode=loopback --passphrase "$PROVISION_ENC_PWD" "$ENCRYPTED_PROVISION_PATH";
        gpg -d -o "$ENCRY_FACEU_AUTH_PATH" --pinentry-mode=loopback --passphrase "$FACEU_APP_KEY" "$ENCRY_FACEU_AUTH_PATH";
        security import "$DECRYPTED_CERT_PATH" -k "$KEYCHAIN" -P "" -A;
        security set-key-partition-list -S apple-tool:,apple:, -s -k "" "$KEYCHAIN";
        mkdir -p "$HOME/Library/MobileDevice/Provisioning Profiles";
        UUID=$(/usr/libexec/PlistBuddy -c "Print :UUID" /dev/stdin <<< $(security cms -D -i $DECRYPTED_PROVISION_PATH));
        cp "$DECRYPTED_PROVISION_PATH" "$HOME/Library/MobileDevice/Provisioning Profiles/$UUID.mobileprovision";

    - name: Archive
      run:
        mkdir -p $XC_ARCHIVE_DIR;
        UUID=$(/usr/libexec/PlistBuddy -c "Print :UUID" /dev/stdin <<< $(security cms -D -i $DECRYPTED_PROVISION_PATH));
        xcodebuild archive -workspace $XC_WORKSPACE -scheme $XC_SCHEME -configuration release -archivePath $XC_ARCHIVE_DIR/$XC_PROJECT_NAME.xcarchive CODE_SIGN_IDENTITY="iPhone Distribution" PROVISIONING_PROFILE_SPECIFIER=$UUID;

    - name: Export IPA
      run: 
        mkdir -p $XC_IPA_DIR;
        xcodebuild -exportArchive -archivePath $XC_ARCHIVE_DIR/$XC_PROJECT_NAME.xcarchive -exportPath $XC_IPA_DIR -exportOptionsPlist $XC_EXPORT_OPTIONS_PATH;

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: Beauty-iOS-ObjC
        path: ./Beauty/Beauty-iOS-ObjC/product/ipa/Beauty-iOS-ObjC.ipa


